/* CSS Variables for easier changes and more readable code */
:root {
    --table-border-color: #dee2e6;
    --table-header-bg: #6c757d;
    --table-row-hover-bg: #dee2e6;
    --table-striped-row-bg: #f8f9fa;
    --animation-speed: 0.3s;
    --box-shadow-color: rgba(0, 0, 0, 0.2);
    --table-padding: 8px 15px;
}

.table-container {
    overflow-x: auto;
}
.img-thumbnail {
    max-width: 100px;
    max-height: 100px;
    border-radius: 8px;
}

.table {
    width: 100%;
    border-collapse: separate; /* Allows us to set border-radius on table cells */
    border-spacing:1; /* Remove the spacing around the cells */
}

.table td,
.table th {
    border: 1px solid var(--table-border-color);
    border-radius: 10px; /* Added border-radius to each cell */
    padding: var(--table-padding);
    transition: background-color var(--animation-speed) ease;
}

.table thead th {
    background-color: var(--table-header-bg);
    color: white;
    text-transform: uppercase;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: var(--table-striped-row-bg);
}

.table-hover tbody tr:hover {
    background-color: var(--table-row-hover-bg);
}

.table td .btn {
    border-top: none;
    transition: transform var(--animation-speed) ease, 
                box-shadow var(--animation-speed) ease;
}

.table td .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 4px var(--box-shadow-color);
}

.heading-primary {
    font-size: 50px;
    font-weight: bold;
    font-family: "Bungee Spice", cursive;
    animation: bounce 1s ease-out 1;
}

.no-clients {
    text-align: center;
    font-size: 24px;
    color: black;
    font-family: 'Reem Kufi Fun', sans-serif;
    animation: bounce 1s ease-out 1;
}
@keyframes bounce {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    50% {
        transform: translateY(20px);
        opacity: 0.8;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
